{% extends "remapp/base.html" %}

{% block navct%}<li class="active">{% endblock %}


{% block mainblock %}		
<h1>Detail list of events</h1>

<ul>
    <li>
        Accession number:
        {% if not generalstudymoduleattr.accession_hashed %}
            {{ generalstudymoduleattr.accession_number }}
        {% else %}
            <i>hidden</i>
        {% endif %}
    </li>
    <li>Study date: {{ generalstudymoduleattr.study_date }}</li>
    <li>Study time: {{ generalstudymoduleattr.study_time|date:"H:i" }}</li>
    <li>Study description: {{ generalstudymoduleattr.study_description }}</li>
    <li>Requested procedure: {{ generalstudymoduleattr.requested_procedure_code_meaning }}</li>
    <li>Patient age: {{ generalstudymoduleattr.patientstudymoduleattr_set.get.patient_age_decimal|floatformat:1 }} years</li>
    <li>Patient height and weight: {{ generalstudymoduleattr.patientstudymoduleattr_set.get.patient_size|floatformat:2 }} m, {{ generalstudymoduleattr.patientstudymoduleattr_set.get.patient_weight|floatformat:1 }} kg</li>
    <li>Hospital: {{ generalstudymoduleattr.generalequipmentmoduleattr_set.get.institution_name }}</li>
    <li>
        Scanner: 
        {{ generalstudymoduleattr.generalequipmentmoduleattr_set.get.manufacturer }} |
        {{ generalstudymoduleattr.generalequipmentmoduleattr_set.get.manufacturer_model_name }} |
        {{ generalstudymoduleattr.generalequipmentmoduleattr_set.get.station_name }}
    </li>
    <li>Study UID: {{ generalstudymoduleattr.study_instance_uid }}</li>
    <li>Comment: {{ generalstudymoduleattr.ctradiationdose_set.get.comment }} </li>
    <li>Test patient indicators? {{ generalstudymoduleattr.patientmoduleattr_set.get.not_patient_indicator }}</li>
    <li>
        Total number of events:
        {{ generalstudymoduleattr.ctradiationdose_set.get.ctaccumulateddosedata_set.get.total_number_of_irradiation_events }}
    </li>
    <li>
        Total DLP:
        {{ generalstudymoduleattr.ctradiationdose_set.get.ctaccumulateddosedata_set.get.ct_dose_length_product_total|floatformat:2 }}
        mGy.cm
    </li>
</ul>

<table class="table table-striped table-bordered small">
    <th>Acquisition protocol</th>
    <th>Type</th>
    <th>CTDI<sub>vol</sub> (mGy)</th>
    <th>DLP (mGy.cm)</th>
    <th>Scanning length (mm)</th>
    <th>kVp</th>
    <th>mA</th>
    <th>Max mA</th>
    <th>Exposure time per rotation (s)</th>
    <th>Pitch</th>
    <th>Exposure time (s)</th>
    <th>Slice thickness (mm)</th>
    <th>Collimation (mm)</th>
    <th>X-ray modulation type</th>
    {% for event in generalstudymoduleattr.ctradiationdose_set.get.ctirradiationeventdata_set.all %}
        {% for source in event.ctxraysourceparameters_set.all %}
            {% if source.identification_of_the_xray_source != "B" %}
                <tr>
                    <td rowspan="2">{{ event.acquisition_protocol }}</td>
                    <td rowspan="2">{{ event.ct_acquisition_type }}</td>
                    <td rowspan="2">
                      {{ event.mean_ctdivol|floatformat:2 }}
                      {% if event.ctdiw_phantom_type.code_value == "113691" %}
                        (32&nbsp;cm)
                      {% elif event.ctdiw_phantom_type.code_value == "113690" %}
                        (16&nbsp;cm)
                      {% endif %}
                    </td>
                    <td rowspan="2">{{ event.dlp|floatformat:2 }}</td>        
                    <td rowspan="2">{{ event.scanninglength_set.get.scanning_length|floatformat:0 }}</td>
                    {% if event.number_of_xray_sources < 2 %}
                        <td rowspan="2">{{ source.kvp|floatformat:0 }}</td>
                        <td rowspan="2">{{ source.xray_tube_current|floatformat:0 }}</td>
                        <td rowspan="2">{{ source.maximum_xray_tube_current|floatformat:0 }}</td>
                        <td rowspan="2">{{ source.exposure_time_per_rotation|floatformat:3 }}</td>
                    {% else %}
                        <td>{{ source.kvp|floatformat:0 }}</td>
                        <td>{{ source.xray_tube_current|floatformat:0 }}</td>
                        <td>{{ source.maximum_xray_tube_current|floatformat:0 }}</td>
                        <td>{{ source.exposure_time_per_rotation|floatformat:3 }}</td>
                    {% endif %}
                    <td rowspan="2">{{ event.pitch_factor|floatformat:3 }}</td>
                    <td rowspan="2">{{ event.exposure_time|floatformat:3 }}</td>
                    <td rowspan="2">{{ event.nominal_single_collimation_width|floatformat:3 }}</td>
                    <td rowspan="2">{{ event.nominal_total_collimation_width|floatformat:2 }}</td>
                    <td rowspan="2">{{ event.xray_modulation_type }}</td>
                </tr>
                {% if event.number_of_xray_sources < 2 %}
                    <tr></tr>
                {% endif %}
            {% else %}
                <tr>
                    <td>{{ source.kvp|floatformat:0 }}</td>
                    <td>{{ source.xray_tube_current|floatformat:0 }}</td>
                    <td>{{ source.maximum_xray_tube_current|floatformat:0 }}</td>
                    <td>{{ source.exposure_time_per_rotation|floatformat:3 }}</td>
                </tr>
            {% endif %}
        {% endfor %}
        {% if event.comment != "" %}
        <tr>
            <td colspan="14"><strong>Comment</strong> {{ event.comment }}</td>
        </tr>
        {% endif %}
    {% endfor %}
</table>


{% if is_paginated %}
<p class="pagination">
    {% if has_next %}
    <a class="older" href="?page={{ next }}" title="View older posts">Older</a>
    {% endif %}
    {% if has_next and has_previous %} | {% endif %}
    {% if has_previous %}
    <a class="newer" href="?page={{ previous }}" title="View newer posts">Newer</a>
    {% endif %}
</p>
{% endif %}

{% endblock %}	
